html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.theme-dark body {
  background-color: rgb(33, 33, 33);
  color: white;
}

form {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}

.me {
  border-radius: 50%;
  cursor: pointer;
}

.me-back {
  width: 352px;
  height: 352px;
  transform: translate(-1px, -1px);
  border-radius: 50%;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 25px;
}

.theme-dark .me-back {
  background-color: rgb(33, 33, 33);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.me-back-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .not-mobile {
    display: none !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.theme-dark a {
  color: white;
}

* {
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

input {
  margin-bottom: 1rem;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
select {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: block;
  border-radius: 20px;
  width: 100%;
  padding: 12px 22px;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: #f4f4f4;
}

.theme-dark input:not([type='checkbox']):not([type='radio']),
textarea,
select {
  background-color: #222222;
  background-color: rgb(58, 61, 65);
  color: white;
}

.radio-label {
  display: block;
}

textarea {
  max-width: 100%;
}

select {
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* SVG background image */
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-size: 0.6em;
  background-position: calc(100% - 1.3em) center;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  color: black;
}

.theme-dark select {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23FFFFFF%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23FFFFFF%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-color: rgb(58, 61, 65);
  color: white;
}

label {
  /* text-align: left; */
  /* margin-left: 1rem; */
  margin-bottom: 1rem;
  display: block;
}

button {
  text-align: left;
  display: inline-block;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 5px 40px;
  color: white;
  background-color: #3e6ae1;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(59, 89, 172);
}

.emoji-button {
  padding: 3px 15px;
  height: 100%;
  background-color: white;
  background-color: transparent;
  margin: 0px;
  font-size: 20px;
  border-radius: 20px;
}

.theme-dark .emoji-button {
  background-color: rgb(58, 60, 64);
  border: 2px solid rgb(40, 39, 39);
}

.emoji-button:hover {
  background-color: rgb(107, 104, 104);
}

.kk-bubble-background {
  /* height: 100%; */
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  text-align: center;
}

.a-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: translateZ(0);
}

.a-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  /* background-color: rgba(131, 51, 51, 0.15); */
  /* background-color: rgba(234, 195, 98, 0.15); */
  background-color: rgba(211, 147, 19, 0.35);
  top: -100px;
  border-radius: 50%;
  animation: circle 10s infinite;
  /* transition-timing-function: linear; */
  background-color: rgba(207, 175, 110, 0.35);
  background-color: rgba(101, 119, 200, 0.35);
}

.a-bubbles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%;
  animation-duration: 9s;
  background-color: rgba(107, 41, 11, 0.35);
  background-color: rgba(198, 114, 200, 0.35);
}

.a-bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 9s;
}

.a-bubbles li:nth-child(3) {
  width: 70px;
  height: 70px;
  left: 30%;
  animation-delay: 2s;
  animation-duration: 9s;
  background-color: rgba(16, 31, 99, 0.35);
  background-color: rgba(207, 175, 110, 0.35);
}

.a-bubbles li:nth-child(4) {
  width: 30px;
  height: 30px;
  left: 80%;
  animation-delay: 2.5s;
  animation-duration: 9s;
  background-color: rgba(107, 41, 11, 0.35);
  background-color: rgba(207, 175, 110, 0.35);
}

.a-bubbles li:nth-child(5) {
  width: 60px;
  height: 60px;
  left: 50%;
  animation-delay: 4s;
  animation-duration: 9s;
  background-color: rgba(8, 73, 6, 0.35);
  background-color: rgba(112, 203, 109, 0.35);
}

.a-bubbles li:nth-child(6) {
  width: 30px;
  height: 30px;
  left: 70%;
  animation-delay: 5s;
  animation-duration: 9s;
  background-color: rgba(16, 31, 99, 0.35);
  background-color: rgba(92, 104, 156, 0.35);
}

.a-bubbles li:nth-child(7) {
  width: 50px;
  height: 50px;
  left: 10%;
  animation-delay: 5.5s;
  animation-duration: 9s;
}

.a-bubbles li:nth-child(8) {
  width: 70px;
  height: 70px;
  left: 40%;
  animation-delay: 6s;
  animation-duration: 9s;
  background-color: rgba(8, 73, 6, 0.35);
  background-color: rgba(112, 203, 109, 0.35);
}

@keyframes circle {
  0% {
    -webkit-transform: translateY(calc(100vh + 100px));
    transform: translateY(calc(100vh + 100px));
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(800deg);
    transform: translateY(-100px) rotate(800deg);
  }
}

a > img {
  border-radius: 7px;
  margin: 7px;
}

.ml-1 {
  margin-left: 1rem;
}

.infoIcon {
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 1px;
  padding-top: 1px;
  border-radius: 50%;
  margin-right: 8px;
  border: 2px solid #3e6ae1;
  font-weight: bold;
  font-size: 12px;
  background-color: #3e6ae1;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .infoIcon {
    cursor: inherit;
  }
}

.info {
  margin-top: -2px;
}

.ant-popover {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
  padding-bottom: 10px;
}

.ant-popover-title {
  padding: 5px 16px 4px;
  border-bottom: 1px solid #e8e8e8;
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ant-popover-arrow {
  position: absolute;
  display: block;
  width: 8.48528137px;
  height: 8.48528137px;
  background: transparent;
  border-style: solid;
  /* border-width: 4.24264069px; */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  background-color: #fff;
}

.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  bottom: 6.2px;
  border-top-color: transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-left-color: transparent;
  -webkit-box-shadow: 3px 3px 7px rgb(0 0 0 / 7%);
  box-shadow: 3px 3px 7px rgb(0 0 0 / 7%);
}

.theme-dark .ant-popover-arrow {
  border-right-color: #464343;
  border-bottom-color: #464343;
  border: none;
  background-color: rgb(33, 33, 33);
  background-color: rgb(58, 60, 64);
}

.ant-popover-inner {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
}

.theme-dark .ant-popover-inner {
  border: none;
  background-color: rgb(58, 60, 64);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  font-weight: 500;
}

.ant-popover-inner-content {
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.65);
}

.theme-dark .ant-popover-inner-content {
  color: white;
}

.flex {
  display: flex;
  align-items: center;
}

/* This is for Car!!! */

.cls-1 {
  fill: #fefefe;
}

.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: #cfd5cf;
}

.cls-11,
.cls-12,
.cls-3,
.cls-5 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-3,
.cls-5 {
  stroke: #212121;
}

.cls-11,
.cls-3 {
  stroke-width: 3px;
}

.cls-4 {
  fill: #212121;
}

.cls-12,
.cls-5 {
  stroke-width: 2px;
}

.cls-6 {
  fill: #194767;
}

.cls-7 {
  fill: #1a3850;
}

.cls-8 {
  fill: #e53046;
}

.cls-9 {
  fill: #ae3b46;
}

.cls-10 {
  fill: #e96650;
}

.car {
  text-align: center;
}

.car svg {
  max-width: 100%;
}

.car-color-red .cls-8 {
  fill: #e53046;
}

.car-color-red .cls-9 {
  fill: #ae3b46;
}

.car-color-red .cls-10 {
  fill: #e96650;
}

.car-color-blue .cls-8 {
  fill: #4a2eee;
}

.car-color-blue .cls-9 {
  fill: #2540af;
}

.car-color-blue .cls-10 {
  fill: #6a72d5;
}

.car-color-green .cls-8 {
  fill: #0f4d1d;
}

.car-color-green .cls-9 {
  fill: #126014;
}

.car-color-green .cls-10 {
  fill: #0d5c18;
}

.car-color-pink .cls-8 {
  fill: rgb(233, 36, 111);
}

.car-color-pink .cls-9 {
  fill: rgb(145, 39, 80);
}

.car-color-pink .cls-10 {
  fill: rgb(155, 18, 70);
}

.cls-11,
.cls-12 {
  stroke: #231f20;
}

.cls-13,
.cls-16 {
  fill: #848c93;
}

.cls-14 {
  fill: #020303;
}

.cls-15 {
  fill: #74848c;
}

.cls-16 {
  font-size: 40px;
  font-family: HelveticaNeue-Bold, Helvetica Neue;
  font-weight: 700;
}

#Circleelement {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .car-svg-size {
    width: 554.349px !important;
  }
}

@media only screen and (max-width: 768px) {
  .car-svg-size {
    width: 280.349px !important;
  }
}

/* entire container, keeps perspective */
.flip-container {
  /* perspective: 1000px; */
}
/* flip the pane when hovered */
@media only screen and (min-width: 768px) {
  .flip-container:hover .flipper {
    transform: rotateY(180deg);
  }
}

.flip-container,
.front,
.back {
  width: 350px;
  height: 350px;
  font-weight: 500;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.status-message {
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #f4f4f4;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 800px;
  font-weight: 500;
}

.theme-dark .status-message {
  background-color: rgb(33, 33, 33);
}

@media only screen and (max-width: 768px) {
  .status-message {
    width: 90%;
  }
}

.hint {
  text-align: center;
}

.footer {
  width: 100vw;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-dark .footer {
  border-top: 1px solid #4b4949;
  background-color: rgb(37, 37, 37);
  background-color: rgb(21, 21, 21);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.calculator {
  background-color: white;
  border: 1px solid #eaeaea;
  opacity: 0.95;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  border-radius: 20px;
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.theme-dark .calculator {
  background-color: rgb(37, 37, 37);
  color: white;
  border: none;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.description {
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-size: 1.5rem;
  gap: 10px;
}
